/* .header{

} */
.form-group{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-group1{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-group2{
    display: block;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 210px; 
}


.form-group label{
    flex-basis: 200px;
    text-align: right;
    margin-right: 10px;
}

.form-group1 label{
    flex-basis: 320px;
    text-align: right;
    margin-right: 10px;
}
.form-group .commentbox{
    max-width: 40px;
    
}
.light{
    color: silver;
}
.button-group{
    margin-left: 200px;
    
}

button{
    border-radius: 70px;
}
section{
    font-size: 20px;
    color: red;
}

sup{
    color:red;
}

.navigation li{
    list-style: none;
    display: inline-block;
}